/* =============
=== COMMONS
================ */
:root {
  --background: #1f2227;
  --headerColor: #1a1d21;
  --placeholderColor: #97989b;
  --fontColor: #fff;
  --primaryColor: #ffa801;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --h1FS: 1.6rem;
  --h2FS: 1.3rem;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: var(--font);
  color: var(--fontColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--fontColor);
}

button {
  background: none;
  border: none;
  outline: 0;
  padding: 10px 20px;
  font-size: 0.75rem;
  border-radius: 20px;
}

section {
  margin: 0 35px;
}

h1 { font-size: var(--h1FS); }
h2 { font-size: var(--h2FS); }

.page {
  margin-top: 50px;
}

.page h1 {
  margin-bottom: 25px;
}

.disabledBtn {
  pointer-events: none;
  opacity: 0.4;
}

.cursorPointer {
  cursor: pointer;
}

/* =============
=== LOADING
================ */
.loading {
  margin: auto; 
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; 
  display: block; 
  shape-rendering: auto;
}

.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

/* =============
=== BTN ACTIONS
================ */
.btn-action {
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent; 
  color: var(--fontColor);
  border: 1px solid var(--fontColor); 
}

.remove-from-favorites {
  background-color: var(--primaryColor);
  color: var(--headerColor);
  border: 0;
}
 
.add-to-favorites {
  background-color: transparent; 
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

/* =============
=== HEADER
================ */
header {
  position: relative;
}

.header-first-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 15px 10px;
  background-color: var(--headerColor);
}

.logo {
  cursor: pointer;
  transition: opacity 0.5s ease-in;
  position: relative;
  z-index: 2;
  width: 120px;
}

.logo:hover {
  opacity: 0.75;
}

.header-second-level {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: top 0.3s ease-in, opacity 0.1s ease-in;
}

.header-second-level.open {
  top: 100%;
  opacity: 1;
}

/* =============
=== NAVIGATION
================ */
.menuActivator {
  position: relative;
  cursor: pointer;
  z-index: 2;
  background: none;
  border: none;
  outline: 0;
  font-size: 2rem;
  font-weight: 200;
  color: white;
  transition: all 0.25s ease-in;
  opacity: 0.8;
}

.menuActivator:hover {
  opacity: 1;
}

.menuActivator.open {
  transform: rotate(45deg);
}

.menuActivator.close {
  transform: rotate(0);
}

nav{
  background: var(--headerColor);
  padding: 15px 10px;
}

nav > ul {
  display: flex;
  margin: 0 10px;
  border-top: 1px solid;
  padding: 20px 0 10px;
  border-top-color: rgba(255,255,255,0.25);
}

nav > ul > li:not(:last-of-type) {
  margin-right: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

/* =============
=== HOME PAGE
================ */
.home {
  margin-top: 20vh;
}

.home > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.famous-citation {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.famous-author {
  margin: 20px 0 40px;
}

/* =============
=== SEARCH / FAVORITES PAGE
================ */
.search-page,
.favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.search > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--placeholderColor);
  margin-bottom: 20px;
}


.search-input {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  background: transparent;
  color: var(--placeholderColor);
  padding: 7px 0;
  border: 0;
  outline: 0;
  transition: all 0.3s ease-in;
}

.search-input:required,
.search-input:invalid {
  box-shadow:none;
}

.search-input:focus {
  font-weight: 500;
  border-width: 2px;
}

.search-input.usable {
  color: var(--fontColor);
  border-bottom-color: var(--primaryColor);
}

.reset-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  transform: rotate(45deg) translateY(-10%);
  transition: transform 0.3s ease-in;
}

.reset-search:hover {
  transform: rotate(45deg) translateY(-10%) scale(1.1);
}

.search-action.disabledBtn {
  background-color: var(--headerColor);
}

.search-action {
  cursor: pointer;
  background: var(--primaryColor);
  color: var(--fontColor);
  transition:  all 0.3s ease-in;
}

.layout-list{
  display: grid;
  grid-gap: 40px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  margin: 25px 0 50px 0;
}

.search-page ul > li,
.favorites-page > ul > li {
  justify-self: center;
}

.no-favories {
  margin-top: 25px;
}

.movies-list, .movies-section {
  width: 100%;
}

/* ====================
=== MOVIE CARD
===================== */
.movie-card {
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--headerColor);
  transition: all 0.3s ease-in;
  opacity: 0.8;
}

.movie-card:hover,
.movie-card:focus {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
  opacity: 1;
}

.movie-card__img {
  max-height: 300px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.movie-card__title {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.movie-card__release {
  font-size: 0.8rem;
}

.movie-card__action {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

/* ====================
=== LAYOUT SINGLE
===================== */
.layout-single > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.layout-single__cover {
  width: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-single__cover > img {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 5px;
}

.layout-single__left {
  flex-basis: 50%;
  margin: 50px 0;
}

.layout-single__left > h1 {
  font-weight: 700;
  margin-bottom: 40px;
}

.layout-single__left > h2 {

  font-weight: 500;
  margin-bottom: 40px;
}

.layout-single__left-main {
  font-size: 0.9rem;
}

.layout-single__left-main > p {
  margin-bottom: 10px;
}

.layout-single__left-main span {
  font-style: normal;
}

/* ====================
=== MOVIE DETAILS PAGE
===================== */
.movie-details__genders {
  display: flex;
  margin: 20px 0 50px 0;
}

.movie-details__genders > li {
  font-size: 0.7rem;
  font-style: italic;
}

.movie-details__genders > li:not(:last-of-type) {
  margin-right: 10px;
}

.movie-layout-single__right {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: flex-start;
}

.movie-layout-single__right > li {
  justify-self: center;
}

.movie-layout-single__right > li:not(:last-of-type) {
  margin-bottom: 30px;
}

.movie-details__actor {
  justify-self: center;
}

.movie-details__actor img {
  width: 150px;
  filter: grayscale(1);
  border-radius: 5px;
}

.movie-details__actor p {
  font-size: 0.9rem;
}

.movie-details__actor p:first-of-type {
  font-weight: 600;
  margin: 10px 0;
}

/* ====================
=== ACTOR DETAILS PAGE
===================== */
.actor-details h1 {
  margin-bottom: 0;
}

.actor-details__age {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  margin: 10px 0 40px 0;
}

/* ====================
=== MOBILE RESPONSIVE
===================== */
@media screen and (min-width: 640px) {
  .search {
    width: 50%;
  }

  .search-page > ul,
  .favorites-page > ul {
    margin: 50px 0;
    grid-gap: 100px;
  }

  .layout-single__cover > img {
    width: 400px;
    margin-bottom: 50px;
  }

  section {
    margin: 0 50px;
  }

  .home {
    margin-top: 30vh;
  }

  .layout-single__left-main > p {
    margin-bottom: 20px;
  }
}

/* ====================
=== PAGINATION
===================== */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.pagination__prev {
  margin-right: 50px;  
}

/* ====================
=== TABLET RESPONSIVE
===================== */
@media screen and (min-width: 1024px) {
  .movie-details > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* ====================
=== DESKTOP RESPONSIVE
===================== */
@media screen and (min-width: 1200px) {
  .search {
    width: 40%;
  }
}

